body {
    background-color: #fff;
    margin: 0;
    width: 100%;
}

.main-container {
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topnav {
    margin:0;
    height: 60px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #ac8acc;
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

#name {
    margin: 0;
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: flex-end;
    text-align: flex-end;
    font-weight: 800;
    font-size: 40px;
    color: #352359;
    padding-left: 220px;
    padding-right: 150px;
    
}




.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    
  }

.banner {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-image: url("images/banner1.svg");
    background-size: cover;
    max-height:300px;
    padding-bottom: 200px;
    padding-top: 80px;
     
}



.profile-area{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.profile {
    width: 200px;
    filter: drop-shadow(6px 6px 6px black);
    padding-bottom: 50px;
    padding-right: 180px;
}



.title {
    display: flex;
    flex-direction: column;
    size: 28px;
    justify-content: right;
    justify-items:end;
    justify-self: end;
    align-content:right;
    align-items:flex-end;
    padding-top: 1em;

    
}

.software-dev {
    width: 570px;
    padding-right: 500px,

}

.links {
    background-color: #6f449a;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    /*padding-left: 150px;
    padding-right: 150px;*/
}

.links img {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    cursor: pointer;
}

.links img:hover {
    opacity: 0.7;
}

.links a {
    color: white;
    font-size: 18px;
    
}

.content {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    width: 100vw;
    /*max-height: 280px;*/
    background-image: radial-gradient(white,white, #eddaff);
    align-items: center;
    border: 2px dashed #6f449a;
    padding: 25px;
    color: #352359;
}

.project-text {
    font-size: 1.5vw;
    padding: 20px;
    color: #352359;
    
    
}

.project-image {
    display: flex;
    flex-direction: row;
    padding: 25px;
    

}

.iphone {
    display:flex;
    flex-direction: row-reverse;
    width: 225px;
    filter: drop-shadow(5px 5px 6px black);
}

footer{
    width:100vw;
    position:static;
    bottom:0px;
    text-align:center;
    padding-top: 100px;
    padding-bottom: 25px;
}
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3d2764;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 90%;
    
  }
  
  .sidenav h1 {
      padding: 20px;
      color: white;
  }
  
  .sidenav p {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 22px;
  }
  
  .sidenav a {
    padding-left: 20px;
    color: white;
  
  }

  .about {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    max-height: 1000px;
    background-image: radial-gradient(white,white, #eddaff);
    /*align-items: center;*/
    border: 2px dashed #6f449a;
    padding-left: 100px;
    padding-right: 100px;
    color: #352359;

  }

  .about p {
      padding-left:50px;
      padding-right: 50px;
      color: #352359;
  }
  
  /* HAMBURGER BTN */
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 4px 4px;
    transition: 0.4s;
    z-index: 50;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    z-index: 50;
  }
  
  .change .bar2 {
    opacity: 0;
    z-index: 50;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    z-index: 50;
  }

  .header {
      padding-top:0;
      padding-right: 20px;
      padding-left: 20px;
      margin-top: 50px;
      color: #352359;
      font-weight: 800; 
      font-size: 20px;
      text-align: center;
      text-decoration: underline 2px;
      background-color: #eddaff;
  }

  .header h1 {
      padding:0;
  }

 

/* CSS FOR WHEN IT IS IN MOBILE VIEW */
@media screen and (max-width: 768px) {
    .iphone {
        display:flex;
        flex-direction: row-reverse;
        max-width: 120px;
        filter: drop-shadow(5px 5px 6px black);
        padding-right: 20px;
        padding-left: 20px;
    }

    .banner {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-image: url("images/banner.png");
        background-size: cover;
        padding:0;
        margin:0;
    }

    
    .hamburger-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: white;
        size: 10px;
        padding-left: 10px;
        cursor: pointer;
  }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: white;
        margin: 4px 4px;
        transition: 0.4s;
        z-index: 50;
        cursor: pointer;
      }

    .profile-area{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .title {
        size: 12px;
        width:95%;
        padding-top: 50px;
    }

    .title img{
        margin-top: 0;
        width:100%;
    }

    .profile {
        display: flex;
        flex-direction: row;
        justify-content: right;
        justify-items: end;
        justify-self: end;
        align-items: flex-end;
        width: 20%;
        padding-bottom: 50px;
        padding-right: 20px;
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        width: 100%;
        /*max-height: 280px;*/
        background-color: #eddaff;
        justify-content: center;
        align-items: center;
        border: 2px dotted #6f449a;
        /*padding: 25px;*/
        padding:0px;
        font-size: 20px;
        color: #352359;
    }

    .project-text {
        font-size: 3vw;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #352359;
    }

    #name {
        margin:0;
        padding:0;
        display: flex;
        width: 100%;
        padding-right: 20px;
        justify-content: flex-end;
        text-align: flex-end;
        font-weight: 800;
        font-size: 20px;
        color: #352359;   
        }

    .about {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 22px;
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        width: 100%;
        max-height: 2000px;
        background-image: radial-gradient(white,white, #eddaff);
        align-items: center;
        border: 2px dashed #6f449a;
        padding-left: 100px;
        padding-right: 100px;
        color: #352359;
        
          }
        
        .about p {
            padding-left:50px;
            padding-right: 50px;
            font-size: 20px;
            color: #352359;
          }
        
        .about h1 {
            color: #352359;
        }

    .links {
        background-color: #6f449a;
        width: 100vw;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        text-align: center;
        color: white;
        }
        
        .links img {
            display: flex;
            flex-direction: row;
            width: 40px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }
        
        .links img:hover {
            opacity: 0.9;
        }
        
        .links a {
            color: white;
            font-size: 14px;
            cursor: pointer;
            /* padding-right: 35px; */
            
        }

    /* .facebook {
        padding-top: 25px;
        padding-right: 300px;
    } */

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #3d2764;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        opacity: 90%;
            
          }
          
        .sidenav h1 {
            padding: 20px;
            color: white;
          }
          
        .sidenav p {

            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 22px;
          }
          
        .sidenav a {
            padding-left: 20px;
            color: white;
            font-size: 22px;
          
          }

    .header {
        margin:0;
        padding:0;
        color: #352359;
        font-weight: 800; 
        font-size: 10px;
        padding-bottom: 10px;
        text-align: center;
        text-decoration: underline 3px;
        }

  
    }

